*{
    margin:5px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}
.logo{
    font-family: "	Papyrus", 	"Copperplate" , fantasy;
    font-size: 40px;
    color: rgb(122, 194, 122);     
}
header{
   background-color:   rgb(223, 129, 129);;
   color: rgb(223, 129, 129);
   padding:20px  6px;
   display: flex;
   justify- content space-between;
   align-items:  center;
   position: sticky;
   top:0;
   z-index: 100;
}
nav{
    display:  flex;
    align-item:  center;
}
nav ul{ 
   display: flex;
   align-item: center;
   justify-content: center;
}
nav ul li{
     margin-Left:  25px;
     List-style:none;
}
nav ul li a{
     color:#fff;
     text-decoration: none;
     font-size:  19px;
     font-weight:  bold;
     transition: 0.4s ease;
}
nav ul li a{
     color: rgb(246, 252, 246);
     text-decoration: none;
     font-size:  19px;
     font-weight:  bold;
     transition: 0.4s ease;
